.frame {
    width: 50%;
    min-height: 550px;
    margin-left: 25%;
}

h2 {
    color: blue;
    text-align: center;
}

.imgholder {
    display: flex;
    justify-content: center;
}

.img {
    height: 200px;
    width: 400px;
}

.questions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.answer {
    width: 40%;
    padding: 10px;
    color: orange;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: 2px solid orange;
    border-radius: 10px;
}

.trueAnswer {
    width: 40%;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: green;
    border: 2px solid green;
    border-radius: 10px;
}

.falseAnswer {
    width: 40%;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: red;
    border: 2px solid red;
    border-radius: 10px;
}

.reallyTrueAnswer {
    width: 40%;
    padding: 10px;
    color: green;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: 2px solid green;
    border-radius: 10px;
}

.button {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;    
    bottom: 30px;
}

.next{
    width: 20%;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 10px;
}

.opacity {
    opacity: 0.5;
}

@media only screen and (max-width: 1024px) {
        
    .answer {
        width: 70%;
    }
    
    .trueAnswer {
        width: 70%;
    }
    
    .falseAnswer {
        width: 70%;
    }
    
    .reallyTrueAnswer {
        width: 70%;
    }

    .img {
        height: 150px;
        width: 300px;
    } 
}

@media only screen and (max-width: 600px) {

    .frame {
        width: 100%;
        margin-left: 0%;
    }

    .next {
        width: 40%;
    }

    .answer {
        width: 80%;
    }
    
    .trueAnswer {
        width: 80%;
    }
    
    .falseAnswer {
        width: 80%;
    }
    
    .reallyTrueAnswer {
        width: 80%;
    }

    .img {
        height: 150px;
        width: 300px;
    } 

}

@media only screen and (max-height: 650px) {

    .button {
        position: relative;
    }
}

@media only screen and (max-width: 360px) and (max-height: 640px) {

    .frame {
        min-height: 350px;
    }

    .button {
        position: absolute;
    }
}   