@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

h1 {
    color: blue;
    text-align: center;
}

.frame {
    width: 50%;
    margin-left: 25%;
}

@media only screen and (max-width: 600px) {

    .frame {
        width: 100%;
        margin-left: 0%;
    }
    
}